h2{
	border-bottom:px solid blue;
}

h3 {
	color:red;
}

img{
	margin-right:25px;
}

body:hover img{
	transform:rotate(1080deg);
	-ms-transform:rotate(1080deg);
	-webkit-transform:rotate(1080deg);
	transition:transform 2s;
	-ms-transition:-ms-transform 2s;
	-webkit-transition:-webkit-transform 2s;
}

body {
	text-align:center;
	font-family: 'Andika', sans-serif;
}

table {
	margin:0 auto;
	max-width:970px;
}

div p:first-child {
	color:blue;
	font-size:1.2em;
}

a {
	padding:20px;
}